html {
    margin: 5px;
    border-right-style: solid;
    border-left-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    overflow-x: auto; width: 1335;
  }
  
  }
  a.reef:hover {
    background: orange;
    color: green;
  }
  a.reef:active {
    color: white;
  }
  #heed {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding-top: 12px;
    padding-bottom: 20px;
    height: 255px;
  }
  #heedimg {
    float: right;
    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    marginright: 120px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
  }
  
  h1 {
    font-family: cursive, sans-serif;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 30px;
  }
  #dot1 {
    color: red;
  }
  #dot2 {
    color: lightblue;
  }
  #dot3 {
    color: orange;
  }
  #dot4 {
    color: red;
  }
  #dot5 {
    color: orange;
  }
  #dot6 {
    color: lightblue;
  }
  
  #heed1 {
    font-family: cursive, sans-serif;
    font-style: italic;
    font-size: 15px;
    color: rgb(50, 150, 200);
    margin-left: 62px;
  }
  
  #heed2 {
    font-family: cursive, sans-serif;
    font-style: italic;
    font-size: 15px;
    color: rgb(255, 100, 0);
    margin-left: 110px;
    margin-bottom: 35px;
  }
  
  section.top-part {
    float: left;
    background-color: rgb(248, 249, 247);
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  h2 {
    font-weight: bold;
    fontsize: 5em;
    font-size: 20px;
    font-family: monospace, sans-serif;
    clear: both;
  }
  #col1 {
    float: left;
    margin-top: 20px;
    height: 758px;
    overflow-y: auto;
    background-color: rgb(210, 241, 247);
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    width: 15%;
    margin-left: 20px;
  }
  #seas {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    background-color: orange;
    line-height: 30px;
    clear: both;
  }
  .seas {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
  }
  h3 {
    font-weight: bold;
    font-size: 18px;
    font-family: monospace, sans-serif;
  }
  
  #col2 {
    float: left;
    width: 50%;
    height: 758px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 50px;
    padding-right: 15px;
    padding-left: 15px;
    border-style: solid;
    font-family: monospace, sans-serif;
    font-size: 14px;
    border-color: lightgrey;
    border-width: 1px;
    background-color: rgb(255, 247, 165);
    text-align: justify;
  }
  
  #col3 {
    float: right;
    width: 15%;
    margin-top: 20px;
    font-family: monospace, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    background-color: rgb(210, 241, 247);
  }
  
  #hlist {
    margin-left: 24px;
    font-size: 18px;
  }
  
  section.mid-part {
    float: left;
    clear: both;
    background-color: rgb(248, 249, 247);
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin-top: 10px;
    padding-bottom: 20px;
    clear: both;
  }
  #chars {
    width: 50%;
    margin-left: 270px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    text-align: justify;
    font-family: monospace, sans-serif;
    font-size: 14px;
    background-color: lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }
  
  .character {
    width: 150px;
    float: left;
    margin-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
  }
  .hline-bottom {
    padding-bottom: 10px;
    border-bottom: 1px dashed orange;
  }
  
  section.bot-part {
    float: left;
    background-color: rgb(248, 249, 247);
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  #tablo {
    width: 80%;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }
  #ccc {
    float: left;
    width: 50%;
  }
  #bbb {
    float: right;
    clear: both;
    width: 50%;
  }
  
  #iceimg {
    float: right;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    width: 525px;
    margin-top: 67px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  #mytab {
    float: left;
    font-family: monospace, sans-serif;
    font-size: 16px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px 1px;
    margin-bottom: 5px;
  }
  
  #seastit {
    padding: 5px;
  }
  th {
    padding: 2px 0;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    background-color: orange;
    font-weight: bold;
  }
  td {
    padding: 2px 2;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    background-color: lightgrey;
  }
  
  #seasons {
    float: left;
    width: 50%;
    margin-left: 270px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    text-align: justify;
    font-family: monospace, sans-serif;
    font-size: 14px;
    background-color: lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }
  .season-right {
    width: 150px;
    float: right;
    margin-left: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
  }
  .season-left {
    width: 150px;
    float: left;
    margin-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
  }
  
  section.foot {
    float: left;
    bottom: 0;
  }
  #footer {
    float: left;
    width: 50%;
    border-left-style: solid;
    border-width: 1px;
    border-color: orange;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(0, 128, 255);
    margin-left: 270px;
    margin-top: 10px;
    padding-left: 15px;
  }
  