* {
    box-sizing: border-box;
    
}

html {
    background-image: url("./images/wal-drone.jpg");
    /* background-image: src="images/wal-drone.jpg"; */
    /* background-image: url("https://s26.postimg.org/j01ouy2ih/wal-drone.jpg"); */
    /* it doesn't work when I add: url("./images/wal-drone.jpg") or url("././images/wal-drone.jpg");
    or url("https://github.com/amudar/hyf-html-css/blob/master/week2/images/wal-drone.jpg") */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

html, body {
    margin:0px;
    padding:0px;
    position: relative;
    height: 100%;
    width: 100%;
    
}

h1, h2, h3, li {
    border-color:lightgrey;
}

h1 {
    font-size:4vw;
    display: block;
    width: 88%;
    background: linear-gradient(to left, #9cecfb , #65c7f7 , #0052d4);
    font-family: sans-serif;
    color:tomato;
    margin: 4% 6% 1% 6%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border-style: inset;
}

h2 {
    font-size:3vw;
    display: block;
    width: 88%;
    background: linear-gradient(to right, #fc4a1a , #f7b733);
    color: #4c4c4c;
    font-family: sans-serif;
    margin: 2% 6% 1% 6%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border-style:inset;
}

h3 {
    display: block;
    background: linear-gradient(to right, #fc4a1a , #f7b733);
    font-family: sans-serif;
    color: #262626 ;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border-style:inset;
    width: 100%;
}

ul {
    padding:0%;
    margin: 0%;
}

li {
    list-style-type: none;
    font-weight:bold;
    font-family: sans-serif;
    background: linear-gradient(to left, #9cecfb , #65c7f7 , #0052d4);
    margin: 1%;
    padding:1% 2% 2% 2%;
    border-style: outset;
    list-style-type: none;
    font-size: 0.8rem;
    text-align: justify;
    border-radius: 10px;
    height: 370px;
}

li:hover {
    border-color: orange;
}

h1:hover, h2:hover, h3:hover {
    transform: scale(1.1);
}
          
li.grid-item img {
    width: 50%;
    margin: 1% 25% 4% 25%;
    border-radius: 50%;
    padding:5%;
    background-color: white;
    border-style: inset;
}

img:hover {
    transform: scale(2); border-style: solid; border-color:orange;
}

li:nth-child(2) {
    text-align: right;
    
}


#grid-floats {
    margin: 2% 5%;

}

#grid-flex {
    height: auto;
    display: flex;
    margin:2% 5%;
    align-content: flex-start;
    flex-flow: row wrap;                              
}

section {
    display: flex;
    flex-direction: column;
}

    /* Grids For mobile screens */
    @media only screen and (max-width: 600px) {
        
        
         li {
            font-size:0.4rem;
        }
        
        #grid-floats li:nth-child(1) {
            width: 98%;
            float: left;
            margin: 20px 1% ;
        }
        #grid-floats li:nth-child(1n+2) {
            width: 48%;
            float: left;
            Margin: 20px 1%;

        }
      
        #grid-floats li:nth-child(8) {
            width: 98%;
            float: left;
            margin: 20px 1% ;

        }
        
        #grid-flex li:nth-child(1n+2) {
            flex-basis: 48%;
            margin: 20px 1%;

        }
        
        #grid-flex li:nth-child(1) {
            flex-basis: 98%;
            margin: 20px 1%;

        }

        #grid-flex li:nth-child(8) {
            flex-basis: 98%;
            margin: 20px 1%;
    }
                
    h3 {
        font-size: 2.3vw;
    }

}

    /* For tab and medium screens */
    @media only screen and (min-width: 600px) {
        
       
        #grid-floats li:nth-child(1), li:nth-child(2) {
            width:48%;
            float: left;
            margin: 20px 1%;
        }
    
        #grid-floats li:nth-child(1n+3) {
            width: calc(94%/3);
            float:left;
            Margin: 20px 1%;
        }
    

        #grid-flex li:nth-child(1) {
            flex-basis: 48%;
            margin: 20px 1%;
        }
        #grid-flex li:nth-child(2) {
            flex-basis: 48%;
            margin: 20px 1%;
        }
    
        #grid-flex li:nth-child(1n+3) {
            flex-basis: calc(94%/3);
            Margin: 20px 1%;
        }

        h3 {
            font-size: 1.5vw;
        }
            
    }
    


    /* For laptop/desktop and big screens */ 
    @media only screen and (min-width: 992px) {

        


        #grid-floats li:nth-child(1) {
            width: 48%;
            float: left;
            margin: 20px 1% ;
        }
        #grid-floats li:nth-child(1n+2) {
            width: 23%;
            float: left;
            Margin: 20px 1%;

        }
      
        #grid-floats li:nth-child(8) {
            width: 48%;
            float: left;
            margin: 20px 1% ;

        }
        
        #grid-flex li:nth-child(1n+2) {
            flex-basis: calc(92%/4);
            margin: 20px 1%;

        }
        
        #grid-flex li:nth-child(1) {
            flex-basis: 48%;
            margin: 20px 1%;

        }

        #grid-flex li:nth-child(8) {
            flex-basis: 48%;
            margin: 20px 1%;

        }

        h3 {
            font-size: 1vw;
        }
            
        
    }
